.bold-blue{
    font-weight:900;
    color:blue;
}
.search-result{
    border-bottom:1px solid #e0e0e0;
    padding:3px;
    margin-bottom:10px;
}
.result-title{
    color:blue;
    font-size:20px;
}

.result-description{
    color:#555;
}

.result-link{
    color:#007334;
    font-size:13px;
}
